body {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    background: rgb(66, 234, 57);
}
div#content {
    padding: 11px;
}
.sec-section{
    padding: 11px;
}
#form-contact {
    padding: 11px;
}
main {
    background: rgb(230, 203, 24);
    max-width:75%;
    margin: auto;
}


#image {
    background: url(image/facts-about-parrots.jpg);
}

/* banner text */
#image h1 {
    text-align: center;
    padding: 265px 0px 75px;
    margin: 0px;
    color: white;
    font-size: 51px;
}
/* menu list  */
div#nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

div#nav ul li {
    width: 100%;
    text-align: center;
    font-size: 21px;
    padding: 11px;
    text-transform: uppercase;
}
div#nav ul li:nth-child(2) {
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
}

/* layout */
.flex {
    display: flex;
}

div#content img {
    width: 100%;
}

.sec1 {
    width: 20%;
}

.sec2 {
    width: 80%;
}

h2 {
    font-size:22px;
    margin: 12px 0px;
}

div#content p {
    padding: 0px 17px;
    margin: 0px;
    font-size: 17px;
}


/* footer */
footer {
    padding: 10px;
    text-align: right;
}
/* facts area */
.sec-section ul {
    padding-top: 1px;
    font-size: 18px;
    padding-left: 26px;
    padding-right: 26px;
}
/* form design */
form {
    border: 1px solid;
    padding: 18px 14px;
    border-color: black;
}
.full-width {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 17px;
}
.formtext {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 7px;
}
.radio {
    font-size: 18px;
}
#submit {
    border: 1px solid black;
    width: 90px;
    font-size: 15px;
    padding: 10px 0px;
    margin-top: 21px;
    background: transparent;
}
